# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
tmp/
.cache/

# dependencies
node_modules/

# yarn 2.0
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# IDEs and editors

# IDE - VSCode
.vscode/